.flow-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* ReactFlow overrides */
.react-flow__pane {
  cursor: grab;
}

.react-flow__pane:active {
  cursor: grabbing;
}

.react-flow__selection {
  background: var(--accent-alpha) !important;
  border: 1px solid var(--accent) !important;
}
